@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* The upper part is about to fill white gaps around navbar and the box sizing is used to make navbar fit to screen here. */
body{
    font-family: Poppins;
}
/* padding is            */
nav{
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 4px black;
    z-index: 2;
}
nav img{
    width: 150px;
    cursor: pointer;
}
#menu{
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: none;
   }
   #menu-close{
       display: none;
   }
nav .navigation ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0%;
    padding:0%;
}
nav .navigation ul li{
    list-style: none;
    margin-left: 30px;
}
nav .navigation ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}
nav .navigation ul li a.active,
nav .navigation ul li a:hover{
 color: blue;
}
/* background-image: linear-gradient(direction, color-stop1, color-stop2, ...);  default top to down */
/*rgba(red, green, blue, alpha) alpha denote opacity like 0.3 etc */
#Home{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,255,0.5)),url("Images/c.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    justify-content: center;
    flex-direction: column;
}
#Home h2{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}
#Home p{
    color: white;
    font-size: 1.0rem;
    letter-spacing: 0.5px;
    font-style: oblique;
}
#Home .btn{
    margin-top: 30px;
}
#Home a{
    text-decoration: none;
    font-size: 0.9rem;
    background-color: aliceblue;
    font-weight: 500;
    border-radius: 5px;
    padding: 13px 35px;

}
#Home a.Blue{
    color: aliceblue;
    background-color: #8675eb;
}
#Home a.Blue:hover{
    color: #8675eb;
    background-color: aliceblue;
}
#Home a.Yellow{
    color: #8675eb;
    background-color: aliceblue;
}
#Home a.Yellow:hover{
    color: black;
    background-color: hsl(61, 100%, 72%);
}
#Features{
    padding: 5vw 8vw 0vw 8vw;
    text-align: center;
    margin-top: -30px;
}
#Features .feature-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}
#Features .feature-box{
    background-color: #f9f9f9;
    text-align: start;
    display: inline;
}
#Features .feature-box i{
    font-size: 2.3rem;
    color: darkblue;
    position: relative;
    left: 5px;
    margin-top: 10px;
}
#Features .feature-box h3{
    font-size: 1.0rem;
    font-weight: 600;
    color: black;
    left: 5px;
    position: relative;
    padding: 10px 0 7px 0;
}
#Features .feature-box p{
    font-size: 1rem;
    font-weight: 400;
    color: black;
    left: 3px;
    position: relative;
}
/* Courses */
#Course{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
    margin-top: -30px;
}
#Course .Course-Box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    margin-bottom: 20px;
}
#Course .Courses{
    text-align: start;
    background-color: #f9f9f9;
    height: 100%;
    position: relative;
}
#Course .Courses img{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}
#Course .Courses .detials{
    padding: 15px 15px 0 15px;
}
#Course .Courses span{
    font-size: 12px;
}
#Course .Courses .detials i{
    color: #FDC93B;
    font-size: .9rem;
}
#Course .Courses .cost{
    background-color: #8675eb;
    color: #fff;
    line-height: 70px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    position: relative;
    bottom: 130px;
    left: 280px;
    font-size: 20px;
}
#registration{
    margin-top: 75px;
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,255,0.5)),url("Images/c11.jpg");
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#registration .remainder{
    color: #fff;
}
#registration .remainder h1{
    color: #fff;
}
#registration .form{
     background-color: #fff;
     border-radius: 8px;
     display: flex;
     flex-direction: column;
     padding: 40px;
     box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
}
#registration .form h3{
   position: relative;
   left: 14px;
}
#registration .form input{
    margin: 15px;
    padding: 15px 10px;
    border: 0.5px solid black;
    outline: none;
    
}
#registration .form input::placeholder{
    color: black;
    font-weight: 500;
    font-size: 0.9rem;
    
}
#registration .form .btn{
margin-top: 20px;
text-align: center;
margin-left: 30px;
}
#registration a.Yellow{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    font-weight: 600;
    border-radius: 5px;
    color: white;
    background-color: #8675eb;
    transition: 0.3s ease;
    align-content: center;
}
#registration a.Yellow:hover{
    color: white;
    background-color: blue;
}
#experts{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
    margin-top: -20px;
}
#experts .expert-box{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
    margin-bottom: 20px;
}
#experts .profile{
    background-color: #fafaf1;
    padding: 30px 10px;
    margin-top: -20px;
}
#experts h1{
    margin-top: -30px;
}
#experts .profile img{
    border-radius: 50%;
    height: 1fr;
    width: 50%;
    border: 2px solid white;
}
.pro-links{
    margin-top: 10px;
}
.pro-links i{
    padding: 10px 13px;
    border: 1px solid black;
    transition: 0.3s ease;
    cursor: pointer;
}
.pro-links i:hover{
    background-color: darkblue;
    color: #fafaf1;
    cursor: pointer;
}
footer{
  padding: 8vw;
  background-color: rgb(1, 1, 92);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
footer h3{
    color: #fafaf1;
    font-weight: 600;
    padding-bottom: 20px;
}
footer li{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    font-weight: 300;
}
footer li:hover{
    color: white;
    cursor: pointer;
}
footer input{
    width: 220px;
    padding: 15px 12px;
    background: #334f6C;
    border: none;
    outline: none;
    color: #fff;
}
footer p{
    color: #7b838a;
    font-weight: 400;
}
footer .sub{
    margin-top: 20px;
    font-weight: bold;
}
footer a{
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 13px 35px;
    font-weight: bolder;
    color: #f9f9f9;

}
footer .sub a.Yellow{
    color: #fafaf1;
    background: #FDC93B;
    transition: 0.3s ease;
    text-decoration: none;
    padding: 11px;
}
footer .sub a.Yellow:hover{
    color:  rgb(1, 1, 92);
    background: #fafaf1;
    
}
footer .copyright p{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    color: #fafaf1;
}
footer .copyright {
    margin-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}
footer .copyright .pro-links{
    position: relative;
}
footer .copyright .pro-links i{
    padding: 10px 13px;
    color: #fafaf1;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.3s ease;

}
footer .copyright .pro-links i:hover{
    background: white;
    color: rgb(21,21,100);
    border: 1px solid rgb(21,21,100);
    cursor: pointer;
}
/*About Page CSS*/
#HomeAbout{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,255,0.5)),url("Images/c33.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 900;
}
#about-container{
    display: flex;
    align-items: center;
    padding: 5vw 5vw 2vw 5vw;
}
#about-container .about-img{
    margin-right: 20px;
}
#about-container .about-text{
    width: 40%;
    margin-bottom: 70px;
}
#about-container .about-text1{
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 10px;
    font-size: 16px;
}
#about-container .about-feature{
    justify-content: space-between;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 1vw;
}
#about-container .about-text .about-feature{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-position: cover;
    background-position: center;
}
#trust h1{
    text-align: center;
    padding-top: 4vw;

}
#trust p{
    text-align: center;
    padding-bottom: 2vw;
}
#trust .trust-img{
    display: flex;
    padding: 2vw;
    justify-content: center;
    gap: 80px;   /* Use Gap to do make correct sizing between objects. */
}
#trust .trust-img img{
    width: 60px;
    height: 10vh;
    justify-content: space-between;
    align-items: center;
    
}
/* Blog Page CSS */
#HomeBlog{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,255,0.5)),url("Images/c33.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 900;
}
#blog-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}
#blog-container .Blogs{
    width: 60%;
}
#blog-container .Blogs img{
    width: 100%;
    border-radius: 20px;
}
#blog-container .Blogs .post {
    padding-bottom: 60px;
}
#blog-container .Blogs .post h3{
    color: black;
    padding: 15px 0 10px 0;
}
#blog-container .Blogs .post p{
    color: #757373;
    padding-bottom: 20px;
}
#blog-container .Blogs .post a{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: rgb(1, 1, 92);
    color: #f9f9f9;
    border-radius: 5px;
    font-weight: 600;
}
#blog-container .category{
    width: 30%;
}
#blog-container .category a{
    text-decoration: none;
    color: #757373;
    font-weight: 500;
    line-height: 45px;
}
#blog-container .blogpost{
    width: 60%;
    margin: 0 auto;

}
/*Course Page CSS*/
#HomeCourse{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,255,0.5)),url("Images/c33.jpg");
    width: 100%;
    height: 60vh;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    text-align: center;
    padding-top: 40px;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    font-size: 900;
}
/*Inner Course Page CSS*/
#course-inner{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 8vw;
}
#course-inner .overveiw{
    width: 70%;
}
#course-inner .overveiw img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}
#course-inner .overveiw .course-header{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
#course-inner h3{
    padding: 35px 0 25px 0;
    color: #29303B;
}
#course-inner hr{
    height: 1px;
    background-color: rgba(236,226,229,0.5);
    margin-top: 20px;
}
#course-inner .overveiw .course-header h2{
    color: #29303B;
}
#course-inner .overveiw .course-header .star{
    margin: 6px 0;
}
#course-inner .overveiw .course-header .star i{
    color: #FDC93B;
}
#course-inner .overveiw .course-header h2 p{
    font-size: 15px;
}
#course-inner .overveiw .course-header span{
    padding: 16px 13px;
    color: #29303B;
    font-size: 24px;
    font-weight: 600;
    border-radius: 12px;
    background-color: rgb(88, 56, 252, 0.1);
}
#course-inner .instructor {
    display: flex;
    margin-top: 20px;
}
#course-inner .instructor img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;   
}
#course-inner .learn p{
    font-size: 15px;
    padding-bottom: 15px;
 }
#course-inner .learn p i{
   color: #8675eb;
   font-weight: 700;
   margin-right: 5px;
}
#course-inner .enroll{
    width: 300px;
    padding: 0 30px 30px 30px;
    border-radius: 12px;
    box-shadow: 0px 20px 40px 0 #e3e4eb;
}
#course-inner .enroll h3{
    padding-bottom: 10px;
}
#course-inner .enroll p{
    font-size: 15px;
    color: #524d4d;
    margin: 15px 0;
}
#course-inner .enroll p i{
    color: #8675eb;
    font-weight: 500;
    margin-right: 18px;
    width: 16px;
    height: 16px;
    line-height: 16px;
}
#course-inner .enroll .enroll-btn{
    padding: 25px 0 20px 0;
    margin: auto;
    text-align: center;
}
#course-inner .enroll .enroll-btn a{
    background-color: darkblue;
    color: aliceblue;
    font-weight: 600;
    border-radius: 5px;
    text-decoration: none;
    font-size: 0.8rem;
    padding: 13px 45px;
}
@media (max-width: 769px) {
  nav{
    padding: 15px 20px;
  }
  nav img{
    width: 100px;
    cursor: pointer;
  }
  #menu{
    display: initial;
   }
   #menu-close{
       display: initial;
       color: #fff;
       padding: 30px 0 20px 20px;
   }
   nav .navigation ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 0;
    right: 0;
    width: 220px;
    background-color: rgb(17,20,104,0.45);
    backdrop-filter: blur(4.5px);
    border: 1px solid rgb(255,255,255,0.18);
    height: 100vh;
    transition: 0.3s;
   }
   nav .navigation ul li{
    padding: 20px 0 20px 40px;
    margin-left: 0;
   }
   nav .navigation ul li a{
    color: #fff;
   }
  #blog-container .blogpost{
    margin-top: 20px;
    width: 100%;
}
#blog-container .blogpost .post img{
    object-fit: cover;
}
}
@media (max-width: 460px) {
    nav{
      padding: 0.5px;
      flex-wrap: wrap;
      font-size: 0.05px;
    }
    nav img{
      margin-top: 5px;
      margin-bottom: 5px;
      position: relative;
      width: 70px;
      height: 20px;
      cursor: pointer;
      left: 190px;
    }
    #Home h2 {
    color: white;
    font-size: 1rem;
    letter-spacing: 1px;
}
    #Home p{
     font-size: 0.5rem;
    }
    #Features{
        padding: 8vw 4vw 0 4vw;
    }
    #Course{
         padding: 8vw 4vw 0 4vw;
    }
    #registration{
        padding: 6vw 4vw 6vw 4vw;
    }
    #registration .remainder{
        font-size: 75%;
    }
    #experts{
        margin-top: 1rem;
        padding: 8vw 8vw 4vw 8vw;
    }
    /* About Us Page Media Queries*/
    #about-container{
        width: fit-content;
    }
    #about-container .about-img{
        width: 100%;
        height: auto;
    }
    #trust h1{
        font-size: medium;
        text-align: center;
        padding-top: 2vw;
    
    }
    #trust p{
        text-align: center;
        padding-bottom: 1vw;
        font-size: small;
    }
    #trust .trust-img{
        display: flex;
        padding: 1vw;
        justify-content: center;
        gap: 20px;   /* Use Gap to do make correct sizing between objects. */
    }
    #trust .trust-img img{
        width: 30px;
        height: 7vh;
        justify-content: space-between;
        align-items: center;
        
    }
    /*Blog Media Queries*/
    #blog-container {
        flex-direction: column;
    }
    #blog-container .Blogs {
        width: 100%;

    }
    #blog-container .Blogs .post a{
      align-content: center;
    }
    #blog-container .category{
        width: 100%;
    }
    #blog-container .blogpost{
        margin-top: 20px;
    
    }
    #blog-container .blogpost .post img{
        object-fit: cover;
    }
  }